* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    rgba(128, 128, 223, 0.824),
    rgba(167, 167, 249, 0.924)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  height: 200px;
  width: 320px;
  background: red;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.watch {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
}
.calendar {
  display: flex;

  flex: 1;
}

.leftDiv {
  flex: 1;
  background: white;
  border-radius: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.rightDiv {
  flex: 1;
  background: blue;
  border-radius: 0px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.date,
.month {
  font-size: 45px;
}
.day,
.year {
  font-size: 24px;
}
